---
title: "uwu"
layout: splash
permalink: /
header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: /assets/images/mahdokht_althaia_fcyard.png
  caption: "Photo credit: **Mahdokht Toka**"
  image_description: "Pictured: Al'thaion Waeth and Kivarstra Suhgrest"
intro: 
  - excerpt: 'We are geared towards helping all Warriors of Light of any experience level, beginners and sprouts/returning adventurers achieve their goals! If you like memeing it up in a casual and fun environment, come join us!'
feature_row:
- image_path: /assets/images/althaion_waeth_rainbow_dance.png
  image_caption: "Photo credit: **Al'thaion Waeth**"
  title: "Brand new? Start here!"
  excerpt: "Check out our beginner's FFXIV guide for some tips and pointers to get you in the right direction."
  url: "/docs/getting-started/faq"
  btn_label: "Help me, Onee-chan"
  btn_class: "btn--primary"
- image_path: /assets/images/althaion_kanra.png
  image_caption: "Photo credit: **Al'thaion Waeth**"
  title: "New to the FC?"
  excerpt: "Make sure to read the New Member Welcome page and our rules!"
  url: "/about-us/"
  btn_label: "Read More"
  btn_class: "btn--primary"
- image_path: /assets/images/althaion_namazu_dance.png
  image_caption: "Photo credit: **Al'thaion Waeth**"
  title: "Want to join our Discord?"
  excerpt: "Well if you click the button riiiiight below this text, I think it'll help you get there."
  url: "https://discord.onee-chan.info"
  btn_label: "uwu"
  btn_class: "btn--primary"

---
{% include feature_row id="intro" type="center" %}

Welcome to our humble website. We are currently in the middle of building it up, so please forgive it’s unfinished state. For the most part, it’s all here now, but if you notice anything wrong or anything missing please submit the Contact Us form and let us know. 

<hr>

{% include feature_row %}